* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    height: 30px;
}

h5 {
    font-size: 21px;
}

.photo-container {
    height: 150px;
    margin-left: 7px;    
    /* border: solid 1px red; */
}

.card-body {
    height: 150px;    
    /* border: solid 1px orange; */
    padding: 0 7px;
}

.rating {
    /* border: solid 1px blue;     */
}

.card-img-top {    
    max-height: 150px;    
}

.comments {    
    margin-bottom: 50px;
    /* border: solid 1px yellow;     */
}

.del {
    display: flex;
    justify-content:right;
    /* border: solid 1px red;     */
}